AWSTemplateFormatVersion: 2010-09-09
Resources:
  LambdaBucket:
    Type: 'AWS::S3::Bucket'
    Properties:
      AccessControl: Private
      BucketName: acg-demo-lambda
Outputs:
  LambdaBucket:
    Value: !Ref LambdaBucket
    Description: Lambda Bucket
    Export:
      Name: LambdaBucket
